@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    background: #ffffff;
}


/* -------- HEADER STYLING ------  */

header{
    /* position: sticky;
    top: 0; */
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5vh 3vw;
    z-index: 10;
    background-color: #ffffff;
}

header .logo a img{
    width: 110px;
}

header .nav-items{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 5px 0;
    margin-top: 12px;
    display: flex;
    align-items: center;
}
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

header nav ul li a{
    color: #333;
    font-size: 16px;
}

header .profile-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
header .profile-content .prof-cont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.prof-cont::after{
    content: "";
    position: absolute;
    top: 0;
    right: -15px;
    width: 1.5px;
    height: 120%;
    background-color: rgb(154, 154, 154);
}
.prof-cont .icon{
    padding: 20px 10px;
    color: #000000;
}
.prof-cont .icon:hover{
    background-color: rgba(18, 164, 255, 0.126);
}
.prof-cont .icon i{
    font-size: 22px;
}

.profile-content .post-job a{
    color: #333;
}

nav .hamburger{
    display: none;
}



/* --------- CONTAINER STYLING --------  */

.container{
    width: 100%;
    height: 30vh;
    /* background-color: #d4d4d4; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .contents{
    position: relative;
    /* background-color: rgb(167, 167, 167); */
    width: 1080px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.contents .search-box{
    position: relative;
    width: 80%;
    height: 70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.contents .post-jobs p a{
    font-size: 17px;
    color: rgb(2, 2, 183);
    font-weight: 600;
}
.contents .post-jobs p a:hover{
    text-decoration: underline;
    color: rgb(1, 1, 172);
}


.contents .search-box{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.search-box .job-titlte-search{
    width: 44%;
    height: 100%;
    /* background-color: rgb(161, 161, 161); */
}
.search-box .job-location{
    width: 44%;
    height: 100%;
    /* background-color: red; */
}

.search-box .job-titlte-search input{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 50px;
    font-size: 17px;
    border: none;
    outline-color: rgba(0, 81, 255, 0.799);
    border-right: 1px solid rgba(92, 92, 92, 0.169);
}

.search-box .job-location input{
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 50px;
    font-size: 17px;
    border: none;
    outline-color: rgba(0, 81, 255, 0.799);
}

.search-box .find-job{
    width: 12%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-box .find-job button{
    padding: 16px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: rgba(0, 0, 177, 0.836);
    color: white;
    font-weight: 600;
}

.search-box .find-job button:hover{
    background-color: rgb(1, 1, 141);
}

.search-box .job-titlte-search ion-icon{
    position: absolute;
    top: 35%;
    left: 2%;
    font-size: 20px;
}

.search-box .job-location ion-icon{
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 20px;
}



/* ---------- Main section styling---------- */


section{
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

main > section {
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.105);
}

.jobs-recent{
    margin: 0 auto;
    width: 1080px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.jobs-recent .jobs-for-you{
    /* background-color: rgb(23, 165, 23); */
    padding: 2.3vh 5vw;
    border-bottom: 5px solid rgba(1, 1, 176, 0.861);
}

.jobs-recent .recent-searches{
    /* background-color: rgb(165, 23, 80); */
    padding: 2.3vh 5vw;
}

.jobs-recent .jobs-for-you h1{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.jobs-recent .recent-searches h1{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}




/* ----- Main second section jobs ------*/

.jobs-content-container{
    width: 1080px;
    height: 100vh;
    overflow-y: auto;

    margin: 30px auto;
    /* background-color: rgb(255, 206, 206); */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 20px;
}

.jobs-content-container .all-jobs{
    width: 47%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.jobs-content-container .related-job-desc{
    width: 53%;
    height: 100%;
    /* background-color: rgb(126, 126, 255); */
}


.jobs-content-container .all-jobs .job-card{
    position: relative;
    width: 100%;
    /* height: 400px; */
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    border: 0.1px solid rgba(90, 90, 90, 0.137);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    user-select: none;

    background: #ffffff;
    box-shadow:  5px 5px 15px #d9d9d9,
             -5px -5px 15px #ffffff;
}

.job-card .menu{
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.job-card .menu:hover{
    background-color: rgba(42, 170, 255, 0.139);
}
.job-card .menu::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;
    transform: translateY(-9px);
}
.job-card .menu::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: #333;
    box-shadow: 0 9px 0 #333;
}

.job-card .alert{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(145, 0, 77);
}
.alert span:nth-child(1){
    border: 0.5px solid rgba(255, 20, 145, 0.74);
    padding: 2px 8px;
    border-radius: 3px;
}
.alert span:nth-child(2){
    padding: 2px 8px;
    border-radius: 3px;
    background-color: rgba(255, 20, 145, 0.153);
}



.job-card .job-type a{
    font-size: 20px;
    font-weight: 600;
    color: rgb(45, 45, 45);
    cursor: pointer;
}

.job-card .details p{
    color: rgb(58, 58, 58);
    font-size: 14px;
}

.job-card .salary-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.salary-desc p{
    font-size: 14px;
    font-weight: 800;
    padding: 4px 7px;
    border-radius: 5px;
    background-color: rgba(54, 54, 54, 0.075);
    color: #555;
}
.salary-desc p:nth-child(1){
    background-color: rgba(0, 255, 115, 0.199);
    color: rgb(0, 79, 0);
}

.job-card .easy-apply{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 5px;
}
.easy-apply ion-icon{
    color: rgb(0, 0, 172);
}
.easy-apply span{
    font-size: 14px;
}



.job-card .job-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.job-card .info{
    font-size: 14px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    color: #444;
}


.job-card .job-posted-time{
    font-size: 13px;
    color: #555;
    margin: 8px 2px 0 2px;
}


/* ========= related job description======== */

.jobs-content-container .related-job-desc{
    width: 53%;
    height: 95vh;

    border-radius: 15px;
    background-color: blue;
    background: #ffffff;
    box-shadow:  5px 5px 15px #d9d9d9,
             -5px -5px 15px #ffffff;

    overflow-y: scroll;
}

/* ========= top content -----  */
.related-job-desc .top-content{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    /* margin: 10px 0; */
    background-color: rgb(255, 255, 255);
    z-index: 5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.114);
}

.top-content .job-name h1{
    margin: 8px 0;
    font-size: 22px;
}
.top-content .company a{
    border-bottom: 1px solid rgba(59, 59, 59, 0.856);
}
.top-content .company a:hover{
    color: rgb(255, 10, 120);
    border-bottom: 1px solid rgba(255, 0, 98, 0.856);

}


.top-content .add{
    font-size: 15px;
    color: #333;
}
.top-content .sal{
    font-size: 15px;
}


.top-content .apply-btn{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.apply-btn button{
    background-color: rgb(0, 65, 162);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.apply-btn .save{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #cfcfcf83;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apply-btn .save ion-icon{
    font-size: 22px;
    font-weight: 800;
}
.apply-btn .blocked{
    position: relative;;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #cfcfcf83;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.apply-btn .blocked::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    /* background-color: white; */
    border: 2.4px solid black;
}

.apply-btn .blocked::after{
    content: "";
    position: absolute;
    width: 2.1px;
    height: 16px;
    background-color: black;
    transform: rotate(50deg);
}

/* ======== bottom content ======= */

.related-job-desc .bottom-content{
    position: relative;
    font-size: 14px;
    padding: 20px;
}

/* ------- Profile-insight ------- */
.bottom-content .profile-insight{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bottom-content .profile-insight a{
    color: #555;
    font-size: 13px;
}
.profile-insight a span{
    border-bottom: 1px solid #333;
}

/* ------- skills ------- */
.bottom-content .skills{
    margin: 18px 0;
    display: flex;
    gap: 15px;
}

.skills .skill-cat{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.skills .skill-cat h2{
    font-size: 15px;
    color: #333;
}

.skills .skill-cat .skill-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;

}

.skill-box p{
    font-size: 12px;
    font-weight: 600;
    color: #444;
    background-color: #dcdcdc58;
    padding: 6px 12px;
    border-radius: 5px;
}

/* ------- education ------- */
.bottom-content .education{
    margin: 18px 0;
    display: flex;
    gap: 15px;
}



.education .education-cat{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.education .education-cat h2{
    font-size: 15px;
    color: #333;
}

.education .education-cat .education-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;

}

.education-box p{
    font-size: 12px;
    font-weight: 800;
    color: #444;
    background-color: #00ff3733;
    padding: 8px 18px;
    border-radius: 5px;
}
.education-box p:hover{
    background-color: #00ff3782;
}

/* ------- language ------- */
.bottom-content .language{
    margin: 18px 0;
    display: flex;
    gap: 15px;
}



.language .language-cat{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.language .language-cat h2{
    font-size: 15px;
    color: #333;
}

.language .language-cat .language-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;

}

.language-box p{
    font-size: 12px;
    font-weight: 800;
    color: #444;
    background-color: #00ff3733;
    padding: 8px 18px;
    border-radius: 5px;
}
.language-box p:hover{
    background-color: #00ff3782;
}



.bottom-content hr{
    margin: 30px 0;
    border: 1px solid rgba(171, 171, 171, 0.285);
}


.bottom-content .profile-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bottom-content .profile-details a{
    color: #555;
    font-size: 13px;
}
.profile-details a span{
    border-bottom: 1px solid #333;
}


.bottom-content .location{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.location > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.location > div ion-icon{
    font-size: 18px;
    color: #555;
}


.bottom-content .description{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.description p{
    color: #555;
}
.description .exp h3{
    color: #444;
}
.description .lang h3{
    color: #444;
}

.description ul li{
    list-style: none;
    color: #555;
    margin: 5px 0;
}


.bottom-content .report{
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 800;
    
}

.report a{
    background-color: #d8d8d8;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    border-radius: 10px;
}
.report a ion-icon{
    font-size: 20px;
}




/* ============ FOOTER =============== */

footer{
    width: 100%;
    padding: 20px;
    /* background-color: black; */
    /* color: white; */
}
footer .footer-container{
    width: 1080px;
    /* background-color: rgb(100, 100, 100); */
}

.footer-container .footer-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-content .f-content, .l-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}
.footer-content .f-content, .l-content, a{
    color: #444;
    font-size: 15px;
    line-height: 15px;
}

.footer-content a:hover{
    text-decoration: underline;
}