
@media screen and (max-width: 800px) {
    nav ul{
        display: none;
    }
    nav.active ul{
        position: absolute;
        top: 70px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: rgba(11, 7, 65, 0.142);
        padding: 30px;
        width: 80vw;
        backdrop-filter: blur(25px);
        margin: 0 auto;
        z-index: 10;
        border: 1px solid rgba(255, 255, 255, 0.247);
        border-radius: 5px;
    }
    nav .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;
        /* background-color: white; */
        cursor: pointer;
    }
    .hamburger::before{
        content: "";
        position: absolute;
        width: 28px;
        height: 3.2px;
        background-image: linear-gradient(to right, rgb(116, 180, 249), rgb(244, 10, 135));
        /* filter: blur(1px); */
        transform: translateY(-10px);
        box-shadow: 0 20px 0 rgb(220, 17, 189);

    }
    nav.active .hamburger::before{
        transform: rotate(46deg);
        box-shadow: 0 0 0 rgb(0, 0, 0);
        transition: 0.3s ease;
        background-image: linear-gradient(to right, rgb(243, 249, 255), rgb(244, 10, 135));
    }
    nav.active .hamburger::after{
        transform: rotate(-46deg);
        width: 28px;
        background-image: linear-gradient(to right, deeppink, rgb(227, 227, 255));
        transition: 0.3s ease;
    }
    .hamburger::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 3.2px;
        background-image: linear-gradient(to right, rgb(84, 156, 244), deeppink);
    
    }

    main{
        position: relative;
        width: 100%;
        padding: 0px 0px;
        
    }

    .container .btn-content{
        display: none;
    }
    
}


