@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 12vw;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(20px);
}

header .logo {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    /* letter-spacing: 0.3px; */
    color: rgb(119, 16, 255);

    background: linear-gradient(50deg, #372dff, #ff14a9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
}

nav .hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: red; */
    cursor: pointer;
    display: none;
}

.home {
    position: relative;
    width: 100vw;
    min-height: 80vh;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 2vh 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .f-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.f-content .content h3 {
    font-size: 30px;
    color: #333;
}

.f-content .content h1 {
    font-size: 58px;
    line-height: 65px;
    margin: 15px 0 25px 0;
}

.f-content .content p {
    color: #333;
    font-size: 20px;
    margin: 15px 0 25px 0;
}

.f-content .content .cont-btn {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 25px;
    border: none;
    /* background-image: linear-gradient(23deg, rgb(183, 183, 183), rgb(255, 237, 206)); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.0425em 0.0425em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: white;
    cursor: pointer;
}

.cont-btn:hover {
    color: purple;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.home .s-img {
    width: 50%;
    display: flex;
    /* background-color: rgb(51, 49, 49); */
}

.home .s-img img {
    width: 400px;
}


/* ------  LEARNING SECTION STYLING ----- */
.learning {
    position: relative;
    width: 100%;
    min-height: 150vh;
    background-image: linear-gradient(45deg, rgb(255, 255, 255), rgba(255, 201, 230, 0.87));
    overflow: hidden;
}

.f-container {
    width: 100%;
    min-height: 80vh;
    background-color: rgb(135, 179, 255);
}

.container-cont {
    position: relative;
    width: 100vw;
    /* background-color: red; */
    padding: 2vh 12vw;
    padding-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;
}

.card {
    max-width: 400px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3.5vw;
}


.s-container {
    width: 100%;
    min-height: 80vh;
    margin-top: 10px;
}

.s-container .sf-content {
    width: 100%;
    min-height: 50vh;
    background-color: rgb(135, 179, 255);
    padding: 2vh 12vw 0 12vw;
    border-radius: 0px 0px 200px 50px;
    -webkit-border-radius: 0px 0px 200px 50px;
    -moz-border-radius: 0px 0px 200px 50px;
}

.sf-content .l-text {
    text-align: center;
    margin-top: 3vw;
}

.l-text h1 {
    font-size: 55px;
}

.l-text h3 {
    font-size: 20px;
    color: #222;
}

.ss-content{
    position: relative;
    width: 100%;
    padding: 2vh 12vw 0 12vw;
}
.card-container{
    width: 100%;
    transform: translateY(-140px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container .card{
    max-width: 250px;
    background-color: rgb(255, 241, 212);
    /* background: #e0e0e0; */
    background-image: linear-gradient(-180deg, rgb(150, 188, 254), white);
    box-shadow:  5px 5px 5px rgb(170, 201, 253),
             -5px -5px 5px #f9f9f9;
    padding: 3.5vw 2vw;
}

.card .circle{
    position: relative;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(350deg, rgb(30, 0, 255), rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    backdrop-filter: blur(34px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;

}



